<!-- FOOTER -->
<footer class="text-center text-lg-start text-muted" style="background-color: rgba(235, 235, 235, 0.493);">
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			<!-- Content -->
			<h6 class="text-uppercase fw-bold mb-4">
			  <i class="fas fa-gem me-3"></i>Location
			</h6>
			<!--ΧΑΡΤΗΣ-->
				<div class="ratio ratio-16x9 ">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50128.59438372719!2d21.73290673982123!3d38.25544444671701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e4c793099940b%3A0x40a1f27b1f8908f3!2zzqDOsc69zrXPgM65z4PPhM6uzrzOuc6_IM6gzrHPhM-Bz47OvQ!5e0!3m2!1sel!2sgr!4v1680266824316!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-3 col-xl-4 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  INFO
			</h6>
			<p>
			  This Web-Page is a fictional project and does NOT represent a real-life Art Gallery
			</p>
			<p>
			  All the Images used in this project are free of CopyRight
			</p>
			<p>
				The information about the Artists and their Artworks is taken from
			  <a href="https://www.wikipedia.org/" class="text-reset">Wikipedia</a>
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
			<p> University of Patras, GR</p>
			<p> Electrical &amp; Computer Engineers</p>
			<p> up1072800@upnet.gr </p>
			<p> up1072801@upnet.gr </p>
		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>

	<div class="text-center p-4 fw-bold" style="background-color: rgba(0, 0, 0, 0.1);">
	  © Ρεμπούτσικας Ανδρέας &amp; Τσάκωνας Χρήστος
	</div>

  </footer>
  <!-- Footer -->

  </body>
</html>